@if (state(); as geo) {
  <ohno-trace-facts [title]="keys.summaryAriaLabel" [facts]="summaryFacts()" />
  <ohno-trace-facts [title]="keys.regionAriaLabel" [facts]="regionFacts()" />
  <ohno-trace-facts [title]="keys.currentPairLabel" [facts]="currentFacts()" />
  <ohno-trace-facts [title]="keys.bestSoFarLabel" [facts]="bestFacts()" />
  <ohno-trace-chips
    [title]="keys.recursionTrailLabel"
    [meta]="geo.trail.length"
    [chips]="trailChips()"
    [emptyLabel]="keys.recursionTrailPlaceholder"
  />
  <ohno-trace-chips [title]="keys.pointStatusLabel" [chips]="legendChips" />
} @else {
  <p class="trace-panel__empty"><ohno-led color="slate" [on]="false" size="sm" />{{ keys.emptyLabel | transloco }}</p>
}
