<div class="drag-handle" (mousedown)="onHandleMousedown($event)"></div>
<div class="side-panel">
  <div class="side-tabs">
    @for (tab of tabs(); track tab.id) {
      <button
        type="button"
        class="side-tab"
        [class.side-tab--active]="activeTab() === tab.id"
        (click)="selectTab(tab.id)"
      >
        {{ tab.label }}
      </button>
    }
  </div>

  <div class="side-content">
    @switch (activeTab()) {
      @case ('trace') {
        @if (traceState()) {
          <app-graph-trace-panel
            [state]="traceState()"
            [focusTargetLabel]="graphFocusTargetLabel()"
            [focusPathLabel]="graphFocusPathLabel()"
            [focusModeLabel]="graphFocusModeLabel()"
            [focusHint]="graphFocusHint()"
          />
        } @else {
          <app-search-trace-panel [state]="searchState()" />
        }
      }
      @case ('code') {
        <app-code-panel [lines]="codeLines()" [activeLineNumber]="activeLineNumber()" />
      }
      @case ('info') {
        <app-info-panel [algorithm]="algorithm()" />
      }
      @case ('log') {
        <app-log-panel [entries]="logEntries()" />
      }
    }
  </div>
</div>
