<div class="code-shell">
  @if (hasLines()) {
    <div class="code-toolbar">
      <app-code-language-dial
        class="code-toolbar__dial"
        [options]="availableLanguages()"
        [value]="selectedLanguage()"
        [ariaLabel]="I18N_KEY.features.algorithms.codePanel.codeLanguageAriaLabel | transloco"
        (valueChange)="selectLanguage($event)"
      />

      <app-copy-code-button
        class="code-toolbar__copy"
        [copied]="copied()"
        (pressed)="copyCurrentCode()"
      />
    </div>

    <div class="code-scroll">
      <div
        #renderRoot
        class="code-render"
        [class.code-render--gutter-hover]="gutterHover()"
        (click)="onRenderClick($event)"
        (mousemove)="onRenderMouseMove($event)"
        (mouseleave)="onRenderMouseLeave()"
        [innerHTML]="highlightedHtml()"
      ></div>
    </div>
  } @else {
    <div class="code-empty">
      {{ I18N_KEY.features.algorithms.codePanel.emptyLabel | transloco }}
    </div>
  }
</div>
