<div class="code-shell">
  @if (snippetMissing()) {
    <div class="code-missing" role="note">
      <span class="code-missing__eyebrow">
        {{ I18N_KEY.features.algorithms.codePanel.snippetMissing.eyebrow | transloco }}
      </span>
      <p class="code-missing__title">
        {{ I18N_KEY.features.algorithms.codePanel.snippetMissing.title | transloco }}
      </p>
      <p class="code-missing__body">
        {{ I18N_KEY.features.algorithms.codePanel.snippetMissing.body | transloco }}
      </p>
    </div>
  } @else if (hasLines()) {
    <div class="code-toolbar">
      <app-code-language-dial
        class="code-toolbar__dial"
        [options]="availableLanguages()"
        [value]="selectedLanguage()"
        [ariaLabel]="I18N_KEY.features.algorithms.codePanel.codeLanguageAriaLabel | transloco"
        (valueChange)="selectLanguage($event)"
      />

      <app-copy-code-button
        class="code-toolbar__copy"
        [copied]="copied()"
        (pressed)="copyCurrentCode()"
      />
    </div>

    <div class="code-scroll">
      <div
        #renderRoot
        class="code-render"
        [class.code-render--gutter-hover]="gutterHover()"
        (click)="onRenderClick($event)"
        (mousemove)="onRenderMouseMove($event)"
        (mouseleave)="onRenderMouseLeave()"
        [innerHTML]="highlightedHtml()"
      ></div>
    </div>
  } @else {
    <div class="code-empty">
      {{ I18N_KEY.features.algorithms.codePanel.emptyLabel | transloco }}
    </div>
  }
</div>
