<div
  class="code-language-dial"
  [class.code-language-dial--open]="open()"
  [attr.aria-label]="ariaLabel() || (I18N_KEY.shared.codeLanguageDial.ariaLabel | transloco)"
>
  <app-code-language-dial-fan
    [open]="open()"
    [pulse]="selectionPulse()"
    [rect]="triggerRect()"
    [activeOption]="activeOption()"
    [items]="radialItems()"
    (selected)="select($event)"
  />

  <app-code-language-dial-trigger
    [option]="activeOption()"
    [open]="open()"
    [pulse]="selectionPulse()"
    [ariaLabel]="ariaLabel() || (I18N_KEY.shared.codeLanguageDial.ariaLabel | transloco)"
    (toggle)="toggle()"
  />
</div>
