<div
  #container
  class="tab-deck"
  [class.tab-deck--aura]="variant() === 'aura'"
  [class.tab-deck--gooey]="variant() === 'gooey'"
  [class.tab-deck--fusion]="variant() === 'fusion'"
  [class.tab-deck--pill]="variant() === 'pill'"
>
  <nav
    class="tab-deck__nav"
    [attr.aria-label]="I18N_KEY.core.navigation.primaryAriaLabel | transloco"
  >
    <ul class="tab-deck__list">
      @for (tab of tabs(); track tab.id) {
        <li
          #tabItem
          class="tab-deck__item"
          [class.is-active]="activeTabId() === tab.id"
          [attr.data-tab-id]="tab.id"
        >
          <a
            [routerLink]="tab.path"
            [attr.aria-current]="activeTabId() === tab.id ? 'page' : null"
            (click)="handleActivate(tab.id)"
          >
            @if (variant() === 'pill') {
              <span class="tab-deck__hover-circle" aria-hidden="true"></span>
              <span class="tab-deck__label-stack">
                <span class="tab-deck__label">{{ tab.label }}</span>
                <span class="tab-deck__label-hover" aria-hidden="true">{{ tab.label }}</span>
              </span>
            } @else {
              {{ tab.label }}
            }
          </a>
        </li>
      }
    </ul>
  </nav>

  <span #filterEffect class="tab-deck__effect tab-deck__effect--filter" aria-hidden="true"></span>
  <span #textEffect class="tab-deck__effect tab-deck__effect--text" aria-hidden="true">
    {{ activeLabel() }}
  </span>
</div>
