<div class="legend">
  <ul class="legend__items">
    @for (item of items(); track item.label) {
      <li class="legend__item">
        <ohno-led [color]="item.color" />
        <span class="legend__label">{{ item.label }}</span>
      </li>
    }
  </ul>
  @if (hints().length > 0) {
    <div class="legend__hints" aria-hidden="true">
      @for (hint of hints(); track hint.label) {
        <span class="legend__hint">
          @for (key of hint.keys; track key) {
            <ohno-kbd>{{ key }}</ohno-kbd>
          }
          <span class="legend__hint-label">{{ hint.label }}</span>
        </span>
      }
    </div>
  }
</div>
